/* Estilos generales para el formulario */
.contact-form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

button.btn-primary {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button.btn-primary:disabled {
  background-color: #929090;
  cursor: not-allowed;
}

button.btn-primary:hover:not(:disabled) {
  background-color: #0056b3;
}
.alert-danger {
  background-color: #f8d7da; /* Fondo rojo claro */
  color: #721c24; /* Texto rojo oscuro */
  border: 1px solid #f5c6cb; /* Borde del mismo color */
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 14px;
}

.alert-danger.show {
  display: block;
}

.alert-danger.hidden {
  display: none;
}

.alert-danger strong {
  font-weight: bold;
}
